.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 2rem;
  margin: 0;
  background-color: #161d30;
}
.page-title {
  padding: 0 32px;
  color: #52fd9f;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
input {
  background-color: #161d30;
  border-color: #fff;
  border: 3;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  height: 48px;
  width: 100%;
  align-self: center;
  padding-left: 48px;
}

.input-container {
  display: flex;
  align-items: center;
}
.results {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 475px);
  justify-content: center;
  padding: 30px;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
}
.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: #292f45;
}

.desc-container p {
  margin: 8px auto;
}

#user-image {
  border-radius: 128px;
  padding: 24px;
}
.searchIcon {
  height: 37px;
  width: 45px;
  color: white;
  display: grid;
  place-items: center;
  position: absolute;
}

#card-title {
  color: #e2e2e2;
  font-weight: bold;
  font-size: 24px;
}

.card-subtitle {
  color: #aaaaaa;
}

#card-email {
  color: #de8e46;
}

@media (max-width: 600px) {
  .results {
    grid-template-columns: repeat(auto-fit, 300px);
  }
  .item {
    flex-direction: column;
  }
  .desc-container p {
    text-align: center;
  }
}
